@model IEnumerable<Dosen>

<h2>LIST DOSEN MATEMATIKA</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>DosenID</th>
            <th>Name</th>
            <th>NIP</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DosenID</td>
                <td>@item.Name</td>
                <td>@item.NIP</td>
                <td>@item.Gender</td>
                <td>@item.Address</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DosenID" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.DosenID" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.DosenID" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
